{
  "presets": [
    "@nrwl/react/babel"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ]
}