name: Semantic release strapi

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/semantic-release-strapi.yaml'
      - 'blog/**/*'

concurrency:
  group: release-strapi
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'yarn'
          cache-dependency-path: blog/yarn.lock
      - run: cd blog && yarn && npx semantic-release@19
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}