name: Semantic release front

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/semantic-release-front.yaml'
      - '.github/workflows/mkaciuba-front.yaml'
      - 'apps/**/*'
      - package.json
      - libs/**/*
      - Dockerfile

concurrency:
  group: release-front
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: cp apps/photos-ssr/src/environments/environment.e2e.ts apps/photos-ssr/src/environments/environment.ts
      - run: yarn
      - run: yarn build  photos-ssr
      - run: yarn start photos-ssr&
        id: ssr
      - run: yarn nx e2e photos-e2e --ci --skip-serve && pkill -f photos-ssr
        env:
          NODE_ENV: production
      - run: npx semantic-release@19
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}